* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    display: -webkit-flex;
    flex: 1;
}

a {
    color: black;
    text-decoration: none;
}

aside {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
}

h1 {
    font-family: "Vampiro One";
    font-size: 25px;
    letter-spacing: 4px;
    //*background-color: #a893cc;*//
    padding-left: 5px;
}

h2 {
    font-family: "Space Mono";
    font-size: 13px;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
    top: 5px;
    padding-left: 5px;
}

ul {
    list-style-type: none;
    position: relative;
    top: 45px;
    font-family: "Space Mono";
    font-size: 13px;
    padding-bottom: 15px;
}

ul li {
    padding: 5px 0;
    letter-spacing: 2px;
}

.collections-link {
    visibility: hidden;
}

.socialMedia {
    padding-top: 15px;
    letter-spacing: 4px;
    font-size: 16px;
}

.tooltip {
    position: relative;
}

.tooltip-text {
    font-size: 12px;
    background-color: #a3d2d5;
    visibility: hidden;
    text-align: center;
    width: 120px;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 125%;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #a3d2d5 transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.info {
    display: flex;
    flex: 4;
    flex-flow: wrap;
    padding-top: 15px;
    justify-content: space-around;
}

.bio {
    font-family: "Space Mono";
    font-size: 12px;
    width: 50%;
    height: 30%;
    padding-right: 20px;
}

.bio-pic {
    width: 50%;
    height: 30%;
    padding-right: 20px;
}

.contact-form {
   width: 100%;
}

@media screen and (min-width: 800px) {
    aside {
        position: relative;
        margin-bottom: 30px;
    }
    
     .nav {
        position: absolute;
        bottom: 60px;
    }
    
    ul {
        padding: 0;
    }
    
    .socialMedia li {
        display: inline-block;
        padding: 0;
    }
    
    .column {
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width: 899px) {
    aside {
        margin-bottom: 5px;
        order: 0;
        padding-bottom: 30px;
    }
    
    .nav {
        position: relative;
        bottom: 25px;
    }
    
    h1, h2 {
        text-align: center;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 15px;
    }
    
    main {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    ul {
        text-align: center;
    }
    
    ul li {
        display: inline;
        padding: 4px;
        font-size: 12px;
        border: 0;
    }
    
    .socialMedia {
        padding: 0;
    }
    
    .collections-link {
        visibility: visible;
    }
    
    .column {
        order: 1;
        flex: 100%;
        max-width: 100%;
    }
    
    footer p {
        text-align: center;
    }
}

footer {
    margin-top: 10px;
    padding: 20px;
    background-color: #a3d2d5;
}

footer p {
    text-align: center;
    font-family: "Space Mono";
    font-size: 12px;
}

.copyright {
    font-family: "Ariel";
    font-size: 14px;
}