* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    display: -webkit-flex;
}

a {
    color: black;
    text-decoration: none;
}

aside {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
}

h1 {
    font-family: "Megrim";
    font-size: 35px;
    letter-spacing: 2px;
}

h2 {
    font-family: "Raleway";
    font-size: 18px;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    position: relative;
    top: 35px;
    font-family: "Raleway";
    font-size: 12px;
}

ul li {
    padding: 5px 0;
    letter-spacing: 2px;
}

.socialMedia {
    padding-top: 15px;
    letter-spacing: 4px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    padding: 0 4px;
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-height: 99%;
    max-width: 99%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    aside {
        margin-bottom: 30px;
    }
    
    h1, h2 {
        text-align: center;
    }
    
    main {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    ul {
        text-align: center;
    }
    
    ul li {
        display: inline;
        padding: 8px;
    }
    
    .column {
        flex: 100%;
        max-width: 100%;
    }
    
    footer p {
        text-align: center;
    }
}

footer p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: "Raleway";
    padding: 20px;
}