* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    display: -webkit-flex;
}

a {
    color: black;
    text-decoration: none;
}

aside {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px;
}

h1 {
    font-family: "Space Mono";
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #a893cc;
    padding-left: 5px;
}

h2 {
    font-family: "Space Mono";
    font-size: 13px;
    letter-spacing: 2px;
    font-style: italic;
    position: relative;
    top: 5px;
    padding-left: 5px;
}

ul {
    list-style-type: none;
    position: relative;
    top: 45px;
    font-family: "Space Mono";
    font-size: 14px;
    padding-bottom: 15px;
}

ul li {
    padding: 5px 0;
    letter-spacing: 2px;
}

.collections-link {
    visibility: hidden;
}

.socialMedia {
    padding-top: 15px;
    letter-spacing: 4px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    padding: 0 4px;
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-height: 99%;
    max-width: 99%;
}

.img-wrap {
    position: relative;
    height: auto;
    width: auto;
}

.category-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: azure;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-layer h3 {
    font-family: "Space Mono";
    font-size: 35px;
    color: #a893cc;
}

.img-wrap:hover .category-layer {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 801px) {
    aside {
        position: relative;
        margin-bottom: 30px;
    }
    
     .nav {
        position: absolute;
        bottom: 60px;
    }
    
    ul {
        padding: 0;
    }
    
    .socialMedia li {
        display: inline-block;
        padding: 0;
    }
    
    .column {
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width: 800px) {
    aside {
        margin-bottom: 0;
        order: 0;
        padding-bottom: 30px;
    }
    
    .nav {
        position: relative;
        bottom: 25px;
    }
    
    h1, h2 {
        text-align: center;
    }
    
    main {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    
    ul {
        text-align: center;
    }
    
    ul li {
        display: inline;
        padding: 4px;
        font-size: 12px;
        border: 0;
    }
    
    .socialMedia {
        padding: 0;
    }
    
    .collections-link {
        visibility: visible;
    }
    
    .column {
        order: 1;
        flex: 100%;
        max-width: 100%;
    }
    
    footer p {
        text-align: center;
    }
}

//*footer p {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: "Raleway";
    padding: 20px;
} *//